@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body{
    text-align: center;
    margin: 10%;
}

h1{
    margin-bottom: 20px;
}

#navprincipal{
    display: block;
    margin: 5%;
}

div{
    margin-bottom: 25px;
}

#res{
    margin: 10%;
    text-align: center;
    display: none;
    font-size: 50pt;
    color: red;
}

label{
    font-size: 15pt;
}

input{
    font-size: 15pt;
    width: 50px;
}

button{
    font-size: 15pt;
    color: white;
    background-color: rgb(0, 153, 255);
    border-radius: 10px;
    width: 100px;
    height: 50px;
    border: none;
    margin-bottom: 20px;
}

button:hover {
    background-color: rgb(0, 89, 255);
}